<!doctype html>
<html lang="fr" >
<head>
    <meta charset="utf-8">
    <title><%= config.title %></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.4.1/dist/js/uikit-icons.min.js"></script>
    <style>
        h1 { color: #d54d7b; font-family: "Great Vibes", cursive; font-size: 165px; line-height: 160px; font-weight: normal; margin-bottom: 0px; margin-top: 40px; text-align: center; text-shadow: 0 1px 1px #fff; }
        .pointer { cursor: pointer }
    </style>
</head>

<body>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <h1 class="uk-article-title uk-text-center"><%= config.title %></h1>
        <hr class="uk-divider-icon">
        <div class="uk-flex" data-uk-grid-margin="">
            <div id="buzz" class="uk-margin-medium-right uk-width-medium-1-4 uk-row-first uk-box-shadow-medium">
                <h2 class="uk-article-title uk-text-center">Listes des buzz</h2>
                <hr class="uk-text-center uk-divider-small">
                <button id="clear_buzz" class="uk-width-1-1 uk-button uk-button-danger">Clear Buzzes</button>
                <ul id="buzz_list" class="uk-list uk-list-striped">
                    <% data.buzzes.forEach(function(user){ %>
                    <li>[<%= user.team %>] <%= user.name %></li>
                    <% }); %>
                </ul>
            </div>
            <div id="teams" class="uk-width-medium-2-4 uk-row-first uk-box-shadow-medium">
                <h2 class="uk-article-title uk-text-center">Listes des Équipes</h2>
                <hr class="uk-text-center uk-divider-small">
                <div id="team_list">
                    <% data.teams.sort((prev, curr) => curr.point - prev.point).forEach(function(team){ %>
                    <div class="uk-card uk-card-small uk-card-default uk-box-shadow-large">
                        <h3 class="uk-card-title uk-text-center@s"><%= team.name %></h3>
                        <ul class="uk-list uk-list-striped">
                            <% team.members.forEach(function(user){ %>
                            <li><%= user.name %></li>
                            <% }) %>
                        </ul>
                    </div>
                    <% })%>
                </div>
            </div>
            <div id="score" class="uk-margin-medium-left uk-width-medium-1-4 uk-box-shadow-medium">
                <h2 class="uk-article-title uk-text-center">Scores</h2>
                <hr class="uk-text-center uk-divider-small">
                <div class="uk-panel uk-panel-box uk-box-shadow-medium">
                    <table id="score_list" class="uk-table uk-table-divider">
                        <thead>
                        <tr>
                            <th>Team</th>
                            <th>Score</th>
                            <th>Action</th>
                        </tr>
                        </thead>
                        <tbody>
                        <% data.teams.sort((prev, curr) => curr.point - prev.point).forEach(function(team){ %>
                        <tr id="<%= team.name %>">
                            <td><%= team.name %></td>
                            <td><%= team.point %></td>
                            <td>
                                <span class="pointer dec_point" uk-icon="minus"></span>
                                &nbsp;&nbsp;&nbsp;&nbsp;
                                <span class="pointer inc_point" uk-icon="plus"></span>
                            </td>
                        </tr>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/common/event.js"></script>
    <script src="/host/buzz.js"></script>
    <script src="/host/team.js"></script>
    <script src="/host/score.js"></script>
    <script src="/host/index.js"></script>
</body>

</html>
