<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title><%= config.title %></title>
        <meta name="author" content="Pawndev">
        <meta name="description" content="Let's buzz-in!">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link href="https://fonts.googleapis.com/css?family=Poppins:500,700|Roboto:400,500,700,900" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/base.min.css" integrity="sha256-q1waS+j3XzbPuDsYvSCg0gJSqMyWeEyFHQFWf9/BCPc=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/components.min.css" integrity="sha256-LSQP3MbpDJypSUMHv6f7Zsdgd70/9jgNlSp+azQRdmg=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/tailwind.min.css" integrity="sha256-ct5KWWMn5eSjQCQkdJrskmSppUJDoXwUlBQXCZcISPk=" crossorigin="anonymous" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/1.2.0/utilities.min.css" integrity="sha256-XlXoswytjU+FTsX57ERhhVAuqP0bDldHO/4KHdOqorw=" crossorigin="anonymous" />
        <link href="/style.css" rel="stylesheet">
    </head>
    <body>
        <header>
            <h2 class="js-active"><%= data.users.length %> joined</h2>
            <img class="logo" alt="Buzzer logo" src="/buzzer-logo.svg" />
        </header>
        <ul class="flex border-b">
            <li class="tab mr-1" id="game_tab">
                <a class="bg-white inline-block border-l border-t border-r rounded-t py-2 px-4 text-blue-700 font-semibold" href="#">Game</a>
            </li>
            <li class="tab mr-1" id="users_tab">
                <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">Users</a>
            </li>
            <li class="tab mr-1" id="teams_tab">
                <a class="bg-white inline-block py-2 px-4 text-blue-500 hover:text-blue-800 font-semibold" href="#">Team</a>
            </li>
        </ul>
        <div class="container">
            <div id="game" class="content">
                <ol class="js-buzzes">
                    <% data.buzzes.map(buzz => `<li>${buzz.name} on team ${buzz.team}</li>`) %>
                </ol>
                <button class="js-clear">Clear buzzes</button>
            </div>
            <div id="users" class="content hidden">
                <ol class="js-users">
                    <% data.users.forEach(function(user){ %>
                        <li>[<%= user.team %>] <%= user.name %></li>
                    <% })%>
                </ol>
            </div>
            <div id="teams" class="content hidden">
                <div class="js-teams">
                    <% data.teams.forEach(function(team){ %>
                        <div class="card card-1">
                            <h3 class="team_name">Equipe: <%= team.name%></h3>
                            <h4 class="team_point">Point: <%= team.point%> <span>+</span></h4>
                            <ul>
                                <% team.members.forEach(function(user){ %>
                                    <li><%= user.name %></li>
                                <% })%>
                            </ul>
                        </div>
                    <% })%>
                </div>
            </div>
        </div>
        <script src="/socket.io/socket.io.js"></script>
        <script src="/host.js"></script>
    </body>
</html>
